* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #009973
}

.cal-container {
    width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; 
} 

.cal-container h1{
    margin-bottom: 100px;
    color:  #000;
}
 
.form-container {
    min-height: 40%;
    background:#003326;
    border-radius: 5px;
    padding: 10px;  
}

.button-div {
    display: grid;
    grid-template-columns: repeat(4, 45px);
    grid-template-rows: repeat(5, 45px);
    gap: 5px;
    
}

.button-div > button:first-child, .button-div > button:last-child {
    grid-column: span 2;
    border-radius: 20px;
}

.button-div > button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    border-radius: 50%;
}

div input {
    width: 100%;
    min-height: 15vh;
    margin-bottom: 10px;
    background-color: transparent ;
    border: 0;
}

hr {
    border:1px solid #ccc;
}

.button-div > button:focus {
    background-color: #009973;
    border-color: #009973
}

.button-div > button:focus  {
    outline: 0;
}

.operator {
    background-color: #ffd480;
}

.equal, .delete {
    background: #ffbb33;
}